<div class="grid gap-11 sm:gap-20 grid-cols-2 mt-10 mx-4">
  <div class="col-span-2 md:col-span-1 flex items-center">
    <div>
      <h3 class="text-gray-900 text-2xl font-semibold mb-3">Hi There! 👋</h3>
      <p class="text-gray-900 text-lg font-normal leading-relaxed">
        My name is Filippo, i'm {{ this.age }} years old and this is my space in
        the web 🪐. I enjoy
        <span
          class="underline decoration-sky-500 decoration-wavy underline-offset-4"
          >mountain, hiking and also climbing</span
        >
        (i am also a scout), travel and coding. i've studied
        <span
          class="underline decoration-pink-500 decoration-wavy underline-offset-4"
          >Information Tecnology</span
        >
        for five year in high school. I am now working as a younior developer 💻
        at
        <a target="_black" href="https://www.gabtamagnini.it/">GAB Tamagnini</a
        >.
      </p>
    </div>
  </div>
  <div class="col-span-2 md:col-span-1">
    <img src="../../../assets/image/no-image.jpg" />
  </div>
  <div class="col-span-2 md:col-span-1 flex items-center">
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="flow-root">
      <ul role="list" class="-mb-8">
        <li>
          <div class="relative pb-8">
            <span
              class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200"
              aria-hidden="true"
            ></span>
            <div class="relative flex space-x-3">
              <div>
                <span
                  class="h-8 w-8 rounded-full bg-gray-400 flex items-center justify-center ring-8 ring-white"
                >
                  <!-- Heroicon name: solid/user -->
                  <svg
                    class="h-5 w-5 text-white"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </span>
              </div>
              <div class="min-w-0 flex-1 pt-1.5 flex justify-between space-x-4">
                <div>
                  <p class="text-sm text-gray-500">
                    Learn
                    <a href="#" class="font-medium text-gray-900"
                      >Java, c++, PHP</a
                    >
                  </p>
                </div>
                <div class="text-right text-sm whitespace-nowrap text-gray-500">
                  <time datetime="2020-09-20">2018-2020</time>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="relative pb-8">
            <span
              class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200"
              aria-hidden="true"
            ></span>
            <div class="relative flex space-x-3">
              <div>
                <span
                  class="h-8 w-8 rounded-full bg-green-500 flex items-center justify-center ring-8 ring-white"
                >
                  <!-- Heroicon name: solid/check -->
                  <svg
                    class="h-5 w-5 text-white"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </span>
              </div>
              <div class="min-w-0 flex-1 pt-1.5 flex justify-between space-x-4">
                <div>
                  <p class="text-sm text-gray-500">
                    Learn
                    <a href="#" class="font-medium text-gray-900"
                      >MySQL, MongoDB, Supabase</a
                    >
                  </p>
                </div>
                <div class="text-right text-sm whitespace-nowrap text-gray-500">
                  <time datetime="2020-09-28">2021-2022</time>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="relative pb-8">
            <div class="relative flex space-x-3">
              <div>
                <span
                  class="h-8 w-8 rounded-full bg-green-500 flex items-center justify-center ring-8 ring-white"
                >
                  <!-- Heroicon name: solid/check -->
                  <svg
                    class="h-5 w-5 text-white"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </span>
              </div>
              <div class="min-w-0 flex-1 pt-1.5 flex justify-between space-x-4">
                <div>
                  <p class="text-sm text-gray-500">
                    Learn
                    <a href="#" class="font-medium text-gray-900"
                      >Next.js, React.js, Angular.js</a
                    >
                  </p>
                </div>
                <div class="text-right text-sm whitespace-nowrap text-gray-500">
                  <time datetime="2020-10-04">2021-2022</time>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-span-2 md:col-span-1">
    <h3 class="text-gray-900 text-2xl font-semibold mb-3">What I studied 📚</h3>
    <p class="text-gray-900 text-lg font-normal leading-relaxed">
      At school I studied
      <span
        class="underline decoration-gray-500 decoration-wavy underline-offset-4"
        >Java, C++ and PHP</span
      >, we also studied HTML & CSS, then I learned some javascript frameworks
      such as
      <span
        class="underline decoration-indigo-500 decoration-wavy underline-offset-4"
        >Next.js, React.js and Angular.js</span
      >
      😍. For database management I used
      <span
        class="underline decoration-green-500 decoration-wavy underline-offset-4"
        >MySQL, MongoDB and Supabase</span
      >. Now I'm working with TypeScript on the frontend and C#, .NET on the
      backend.
    </p>
  </div>
</div>
