<div class="grid gap-x-12 gap-y-6 grid-cols-2 mt-10 mx-4">
  <div class="col-span-2 md:col-span-1">
    <h3 class="text-gray-900 text-2xl font-semibold mb-3">Hi There! 👋</h3>
    <p class="text-gray-900 text-lg font-normal leading-relaxed">
      My name is Filippo, i'm {{ this.age }} years old and this is my space in
      the web 🪐. I enjoy
      <span
        class="underline decoration-sky-500 decoration-wavy underline-offset-2"
        >mountain, hiking and also climbing</span
      >
      (i am also a scout), travel and coding. i've studied
      <span
        class="underline decoration-pink-500 decoration-solid decoration-2 underline-offset-2"
        >Information Tecnology</span
      >
      for five year in high school. I am now working as a younior developer 💻
      at GAB Tamagnini.
    </p>
  </div>
  <div class="col-span-2 md:col-span-1">
      <img src="" />
  </div>
  <div class="col-span-2 md:col-span-1">
    
  </div>
  <div class="col-span-2 md:col-span-1">
    <p class="text-gray-900 text-lg font-normal leading-relaxed">I studied some programming language</p>
  </div>
</div>